{% extends 'index.html' %}
{% block content %}
{% load static %}
    <!-- Product -->
    <section id="product" class="body">
        <div class="row">
            <div class="col-12">
                <center>
                    <h1>Produk</h1>
                    <hr width="50%">
                </center>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'img/p1.jpg'%}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Denji</h5>
                        <p class="card-text">Chainsaw Man<br><br>Rp. 720.000</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'img/p2.jpg'%}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Crewmate Red</h5>
                        <p class="card-text">Among Us<br><br>Rp. 500.000</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'img/p3.jpg'%}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Predator</h5>
                        <p class="card-text">Xenomorph<br><br>Rp. 990.000</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'img/p4.jpg'%}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Alien</h5>
                        <p class="card-text">Xenomorph<br><br>Rp. 990.000</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'img/p5.jpg'%}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Harry Hart</h5>
                        <p class="card-text">Kingsman<br><br>Rp. 710.000</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'img/p6.jpg'%}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Kazuma Satou</h5>
                        <p class="card-text">Konosuba<br><br>Rp. 620.000</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'img/p7.jpg'%}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Hatsune Miku</h5>
                        <p class="card-text">SEKAI of the Stage Ver.<br><br>Rp. 920.000</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'img/p8.jpg'%}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Doctor</h5>
                        <p class="card-text">Arknights<br><br>Rp. 880.000</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'img/p9.jpg'%}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Itsuki Nakano</h5>
                        <p class="card-text">Gotoubun no Hanayome<br><br>Rp. 900.000</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'img/p10.jpg'%}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Felt</h5>
                        <p class="card-text">Re:Zero<br><br>Rp. 780.000</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'img/p11.jpg'%}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Link</h5>
                        <p class="card-text">Breath of the Wild Ver. DX Edition<br><br>Rp. 2.000.000</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'img/p12.jpg'%}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">All Might</h5>
                        <p class="card-text">Boku no Hero Academia<br><br>Rp. 880.000</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'img/p13.jpg'%}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Rem</h5>
                        <p class="card-text">Re:Zero<br><br>Rp. 390.000</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'img/p14.jpg'%}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Joker</h5>
                        <p class="card-text">Persona 5 (Re-Release)<br><br>Rp. 600.000</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'img/p15.jpg'%}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Karma Akabane</h5>
                        <p class="card-text">Ansatsu Kyoushitsu<br><br>Rp. 760.000</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'img/p16.jpg'%}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Nagisa Shiota</h5>
                        <p class="card-text">Ansatsu Kyoushitsu<br><br>Rp. 760.000</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'img/p17.jpg'%}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Eren Yeager</h5>
                        <p class="card-text">Survey Corps Ver. Shingeki no Kyojin<br><br>Rp. 880.000</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'img/p18.jpg'%}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Mikasa Ackerman</h5>
                        <p class="card-text">Survey Corps Ver. Shingeki no Kyojin<br><br>Rp. 880.000</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'img/p19.jpg'%}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Armin Arlert</h5>
                        <p class="card-text">Survey Corps Ver. Shingeki no Kyojin<br><br>Rp. 880.000</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'img/p20.jpg'%}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">The Knight</h5>
                        <p class="card-text">Hollow Knight<br><br>Rp. 630.000</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}