{% extends 'index.html' %}
{% block content %}
{% load static %}
    <!-- Testimonial -->
    <section id="buy" class="body">
        <div class="row">
            <div class="col-12">
                <center>
                    <h1>Update Testimony</h1>
                    <hr width="50%">
                </center>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="cold-md-2">
                {% for message in messages %}
                    {% if message %}
                        <div class="alert alert-success">{{ message }}</div>
                    {% endif %}
                {% endfor %}
                <form action="{% url 'upTesti' testi.id %}" method="post">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button id="form" type="submit">Update</button>
                    <button id="form" type="button"><a href="/vTesti">Back</a></button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}